<section class="product-table-wrapper">
  <table class="product-table" role="grid" aria-describedby="Produktliste">
    <thead>
      <tr>
        <th>Produkt</th>
        <th>Beschreibung</th>
        <th>Bestand</th>
        <th>Preis(€)</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr [routerLink]="details" role="link">
        <td>Computermaus</td>
        <td>optisch, USB-Anschluss, schwarz</td>
        <td><span class="badge ok">104</span></td>
        <td class="price">18,00</td>
        <td><a class="btn--view" aria-label="Details anzeigen"></a></td>
      </tr>
      <tr role="link">
        <td>HDMI-Kabel High-Speed</td>
        <td>2 m, vergoldete Stecker</td>
        <td><span class="badge low">64</span></td>
        <td class="price">8,30</td>
        <td><a class="btn--view" aria-label="Details anzeigen"></a></td>
      </tr>
      <tr role="link">
        <td>USB-Kabel</td>
        <td>2.0, 1,5 m, schwarz</td>
        <td><span class="badge ok">124</span></td>
        <td class="price">5,40</td>
        <td><a class="btn--view" aria-label="Details anzeigen"></a></td>
      </tr>
      <tr routerLink="/edit">
        <td>Tastatur QWERTZ</td>
        <td>kabelgebunden, deutsch</td>
        <td><span class="badge ok">146</span></td>
        <td class="price">18,99</td>
        <td><a class="btn--view" aria-label="Details anzeigen"></a></td>
      </tr>
    </tbody>
  </table>
</section>
